<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Subject</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color:lightblue">
                <a class="nav-link" href="subjectList.html" >SubjectList</a>
        </nav>
        <center>
        <h4>Subject Name</h4>
        <input type="text" v-model='newSubjectName'>
        <h4>Course</h4>
        <select class="selectpicker show-menu-arrow " v-model="newSubjectCourse" title="Select Course">
            <option v-bind:value="course.id" v-for="course in Courses">{{course.name}}</option>
        </select>
    </br>
    </br>
        <button v-on:click="addSubject" style="background-color:lightblue">ADD</button>
    </center>
    </div>


    <script>
        let app = new Vue({
            el: '#app',
            data: {
                Courses:[],
                newSubjectName:'',
                newSubjectCourse:''
            },
            mounted(){
                this.courseList();
            },
            

            methods: {
                courseList: function() {
                axios.get("http://localhost:2678/api/courses", { responseType: 'json' })
                    .then(response => { this.Courses = response.data })
                    console.log("----"+this.Courses);
                },
                addSubject : function () {
                    //console.log("Method Clicked")
                    axios.post("http://localhost:2678/api/Subjects", {
                         name: this.newSubjectName, 
                         CourseId:this.newSubjectCourse,
                          })
                    .then((response)=>{
                        console.log('Subject Added Successfully')
                    }); 
                }
            }
        })
    </script>
</body>

</html>